@import './variables.scss';

html, body, input, select {
  font-family: "SF Pro Text", sans-serif;
  font-size: 16px;
  word-spacing: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: $primary-color;
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
.select {
  position: relative;
  > select {
    appearance: none;
    padding: 0.25rem 0.5rem;
    padding-right: 1.5rem;
    border: none;
    border-radius: 0;
    background-color: rgba($secondary-color, 0.25);
    &:focus {
      outline: none;
    }
  }
  $gap: 0.125rem;
  $triangle-size: 0.375rem;
  &:before {
    content: '';
    position: absolute;
    right: $gap * 2;
    top: 50%;
    transform: translateY($gap);
    display: block;
    width: 0;
    height: 0;
    border-left: $triangle-size solid transparent;
    border-right: $triangle-size solid transparent;
    border-top: $triangle-size solid black;
  }
  &:after {
    content: '';
    position: absolute;
    right: $gap * 2;
    bottom: 50%;
    transform: translateY(-$gap);
    display: block;
    width: 0;
    height: 0;
    border-left: $triangle-size solid transparent;
    border-right: $triangle-size solid transparent;
    border-bottom: $triangle-size solid black;
  }
}
button,
.button {
  appearance: none;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  background-color: rgba($secondary-color, 0.65);
  line-height: 1.2;
  color: rgba(white, 0.95);
  font-weight: bold;
  @include shadow;
  cursor: pointer;

  &:focus {
    outline: none;
  }
  &.primary {
    background-color: $primary-color;
  }
}
input[type='checkbox'] {
  appearance: none;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  position: relative;
  transition: all .15s ease;
  background-color: rgba($secondary-color, 0.65);
  border: none;
  border-radius: 50%;
  @include shadow;
  @include checkmark(8px, white);

  &:checked {
    background-color: $primary-color;
  }
  &[disabled],
  &.immutable {
    box-shadow: none;
    cursor: default;
  }
}
.flex-grow {
  flex-grow: 1;
}
.text-align-center {
  text-align: center;
}
.font-weight-bold {
  font-weight: bold;
}
.font-size-small {
  font-size: 0.875rem;
}
.break-all {
  word-break: break-all;
}
pre {
  font-family: "SF Mono", monospace;
  font-size: 0.875em;
  overflow: scroll;
}
nav {
  display: flex;
  background-color: rgba($primary-color, 0.5);
  width: 100%;
  height: $nav-height;
  > .home {
    flex-grow: 0;
    display: block;
    background-color: $primary-color;
    width: $nav-height;
    height: $nav-height;
  }
  > .langs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.875rem;
    > .lang {
      height: $nav-height / 2;
      line-height: $nav-height / 2;
      padding: 0 0.25rem;
    }
  }
}
