@import './variables.scss';

html, body, input, select {
  font-family: "SF Pro Text", sans-serif;
  font-size: 16px;
  word-spacing: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
select {
  padding: 0.125rem;
}
button {
  appearance: none;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  background-color: rgba(blue, 0.65);
  color: rgba(white, 0.95);
  font-weight: bold;
  @include shadow;
  cursor: pointer;

  &:focus {
    outline: none;
  }
  &.red {
    background-color: $red;
  }
}
.flex-grow {
  flex-grow: 1;
}
.text-align-center {
  text-align: center;
}
pre {
  font-family: "SF Mono", monospace;
  font-size: 0.875em;
}
nav {
  display: flex;
  background-color: rgba($red, 0.5);
  height: $nav-height;
  > .home {
    flex-grow: 0;
    display: block;
    background-color: $red;
    width: $nav-height;
    height: $nav-height;
  }
}
